lab1/1.0.node.red.no.hdw.txt
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"54dca352.aa45c4","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"e3ce6d1407d2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"54dca352.aa45c4","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"54dca352.aa45c4","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"54dca352.aa45c4","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"54dca352.aa45c4","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"54dca352.aa45c4","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"54dca352.aa45c4","name":"danger","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical - hello from IoT LAB","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"7926c7b2.86d938","type":"comment","z":"54dca352.aa45c4","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"54dca352.aa45c4","name":"Configure source","info":"","x":100,"y":360,"wires":[]}]
