lab1/flow2.node.red.hdw.static.temp.txt
[{"id":"aacbc7df.c90aa8","type":"function","z":"a17b0a1c.0f4a08","name":"static temp.42","func":"msg.payload = {\"d\":{\"temp\":\"42\"}};\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":223,"wires":[["fb730108.e646a","8150df63.f98058"]]},{"id":"fb730108.e646a","type":"debug","z":"a17b0a1c.0f4a08","name":"","active":true,"console":"false","complete":"payload","x":576,"y":193.5,"wires":[]},{"id":"8150df63.f98058","type":"wiotp out","z":"a17b0a1c.0f4a08","authType":"d","qs":"true","qsDeviceId":"blumareks2016iotlab1","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"iotlab1","x":559,"y":271.5,"wires":[]},{"id":"1144593.2abeda7","type":"inject","z":"a17b0a1c.0f4a08","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":261,"y":129,"wires":[["aacbc7df.c90aa8"]]}]