lab1/flow3.node.red.hdw.dyn.temp.txt
[{"id":"ec46580a.97b54","type":"inject","z":"12694160.86b67f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":109,"y":240.5,"wires":[["ab93c53e.ca4f1"]]},{"id":"ab93c53e.ca4f1","type":"exec","z":"12694160.86b67f","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":263,"y":330,"wires":[["f82b3f23.98217","5b4c6f77.43337"],[],[]]},{"id":"c24740f3.ddc3","type":"debug","z":"12694160.86b67f","name":"","active":true,"console":"false","complete":"payload","x":685,"y":238,"wires":[]},{"id":"f82b3f23.98217","type":"function","z":"12694160.86b67f","name":"msg.payload","func":"msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nreturn msg;","outputs":1,"noerr":0,"x":507,"y":344.5,"wires":[["c24740f3.ddc3","7a8cbaeb.613e94"]]},{"id":"7a8cbaeb.613e94","type":"wiotp out","z":"12694160.86b67f","authType":"d","qs":"true","qsDeviceId":"blumareks2016iotlab1","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"iotlab1.1","x":729.5,"y":344,"wires":[]},{"id":"5b4c6f77.43337","type":"debug","z":"12694160.86b67f","name":"","active":true,"console":"false","complete":"false","x":417.5,"y":234,"wires":[]}]