lab2/flow2.node.red.rpi.gets.command.loads.pic.toCloudant.sendsPicName.to.bluemix.txt
[{"id":"dc7cdeb3.7fa6a","type":"wiotp in","z":"69f9a30c.30ed6c","authType":"d","deviceKey":"ba8af8c9.e229f8","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":135.5,"y":232,"wires":[["eead48c1.3b0b48","a056c86c.771c98"]]},{"id":"eead48c1.3b0b48","type":"debug","z":"69f9a30c.30ed6c","name":"","active":true,"console":"false","complete":"false","x":243.5,"y":135.83334350585938,"wires":[]},{"id":"a056c86c.771c98","type":"function","z":"69f9a30c.30ed6c","name":"take a pic","func":"node.log(\"entering\");\n    var encoding = \"png\";\n    var currTime = new Date().getTime();\n    // Using the current timestamp to ensure the uniquness of the picture\n    var pictureFilename = \"/home/pi/pictures/\" + currTime + \".\" + encoding;\n    var opts = {\n        mode: \"photo\",\n        encoding: encoding, \n        quality: 50,\n        width: 600,\n        height: 400,\n        output: pictureFilename,\n        timeout: 1};\n    // RaspiCam to create a camera object.\n    var camera = new context.global.RaspiCam( opts );\n\n    // Take a pic with RaspiCam\n    var process_id = camera.start( opts );\n\n    // Providing the above generated file name to the next nodes in a payload.\n    return {payload: pictureFilename,\n            filename: pictureFilename,\n            filedate: currTime};","outputs":1,"noerr":0,"x":305.9166564941406,"y":232.16668701171875,"wires":[["edb8b340.a6c568","33372e0c.1e224a"]]},{"id":"edb8b340.a6c568","type":"debug","z":"69f9a30c.30ed6c","name":"","active":true,"console":"false","complete":"false","x":441.25,"y":136.5,"wires":[]},{"id":"5034c408.e86a84","type":"cloudant out","z":"69f9a30c.30ed6c","name":"","cloudant":"34962df.5d262d2","database":"pictures","service":"_ext_","payonly":true,"operation":"insert","x":927.5,"y":218,"wires":[]},{"id":"82dd262a.5609b","type":"function","z":"69f9a30c.30ed6c","name":"json","func":"var picId = msg.filename;\nvar picDate = msg.filedate;\nvar encoded = msg.payload;\nvar len = encoded.length;\n\n    data = {\n        \"fileName\":picId,\n        \"len\":len,\n        \"value\": \"data:image/png;base64,\" + msg.payload, \n        \"pic_date\" : picDate\n    }\n \nreturn [{payload:JSON.stringify(data)}, {payload: picId}];\n","outputs":1,"noerr":0,"x":773.5,"y":220,"wires":[["5034c408.e86a84","880f3261.e1914"]]},{"id":"76c7bc23.f0d524","type":"exec","z":"69f9a30c.30ed6c","command":"base64 -w0","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":604.5,"y":232.5,"wires":[["82dd262a.5609b","ef730927.3ddf98"],[],[]]},{"id":"ef730927.3ddf98","type":"debug","z":"69f9a30c.30ed6c","name":"","active":true,"console":"false","complete":"false","x":675.5,"y":137,"wires":[]},{"id":"880f3261.e1914","type":"debug","z":"69f9a30c.30ed6c","name":"","active":true,"console":"false","complete":"false","x":880.5,"y":136,"wires":[]},{"id":"33372e0c.1e224a","type":"delay","z":"69f9a30c.30ed6c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":443.5,"y":232,"wires":[["76c7bc23.f0d524","630153d7.d7efec"]]},{"id":"630153d7.d7efec","type":"delay","z":"69f9a30c.30ed6c","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":603.75,"y":335.1666564941406,"wires":[["34af47ea.e2f41"]]},{"id":"34af47ea.e2f41","type":"wiotp out","z":"69f9a30c.30ed6c","authType":"d","qs":"true","qsDeviceId":"picturetaken20161118","deviceKey":"","deviceType":"","deviceId":"","event":"pic taken","format":"json","name":"pic taken","x":783.0833129882812,"y":335,"wires":[]},{"id":"af846820.659878","type":"comment","z":"69f9a30c.30ed6c","name":"sending name of the file to bluemix","info":"","x":685.5,"y":286,"wires":[]},{"id":"ba8af8c9.e229f8","type":"wiotp-credentials","z":"69f9a30c.30ed6c","name":"","org":"tosfdx","devType":"RPi3","devId":"raspberrypi3b2016"},{"id":"34962df.5d262d2","type":"cloudant","z":"69f9a30c.30ed6c","host":"https://badfd45c-5c81-419b-9102-1492e7ef274d-bluemix:187dc17730e57d3612b2b364f8c83fdcd83c88b2c6f39708be8c732a32c1c7c9@badfd45c-5c81-419b-9102-1492e7ef274d-bluemix.cloudant.com","name":"node red db"}]