lab2/flow3.node.red.bluemix.retrives.image.fromDB.Watson.analysis.txt
[{"id":"f2f72474.459608","type":"ibmiot in","z":"a0d04d05.3f99a8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"picturetaken20161118","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":145.5,"y":566,"wires":[["d41c4efe.73cd08","90d4dcc.6e50b2"]]},{"id":"d41c4efe.73cd08","type":"debug","z":"a0d04d05.3f99a8","name":"","active":true,"console":"false","complete":"false","x":272.5,"y":485,"wires":[]},{"id":"b8800089.39e338","type":"cloudant in","z":"a0d04d05.3f99a8","name":"get all docs","cloudant":"9f652108.53772","database":"pictures","service":"2016-wdc-myiot-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":516.5,"y":576,"wires":[["203154e3.9ab2a4"]]},{"id":"203154e3.9ab2a4","type":"function","z":"a0d04d05.3f99a8","name":"decode pic","func":"msg.payload = msg.payload[0];\nmsg.payload = msg.payload.value;\nmsg.payload = msg.payload.substring(22,msg.payload.length);\nmsg.payload = new Buffer(msg.payload, 'base64');\n\nreturn msg;","outputs":1,"noerr":0,"x":584.5,"y":401,"wires":[["a4413bda.33b9f8"]]},{"id":"a4413bda.33b9f8","type":"visual-recognition-v3","z":"a0d04d05.3f99a8","name":"","apikey":"","image-feature":"detectFaces","lang":"en","x":722.5,"y":494,"wires":[["11d45108.9f7847"]]},{"id":"11d45108.9f7847","type":"debug","z":"a0d04d05.3f99a8","name":"","active":true,"console":"false","complete":"result","x":797.5,"y":389,"wires":[]},{"id":"90d4dcc.6e50b2","type":"delay","z":"a0d04d05.3f99a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":362.5,"y":637,"wires":[["b8800089.39e338"]]},{"id":"6c798208.9d5bbc","type":"comment","z":"a0d04d05.3f99a8","name":"Receiving data from Raspberry Pi (name of the stored image in the DB)","info":"","x":332.5,"y":327,"wires":[]},{"id":"9f652108.53772","type":"cloudant","z":"","host":"https://55c1cce6-4d39-462f-a53b-3466f6189752-bluemix:91f55d0decfeff55954762ed700c7d945b2ddca52992416fb2943d20fc26c2b2@55c1cce6-4d39-462f-a53b-3466f6189752-bluemix.cloudant.com","name":"cloudant"}]