lab2/flow1.node.red.bluemix.injecting.data.to.rpi.txt
[{"id":"5327b7ad.d2bbb8","type":"ibmiot out","z":"a0d04d05.3f99a8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"raspberrypi3b2016","deviceType":"RPi3","eventCommandType":"command","format":"string","data":"Device payload","qos":"","name":"Send to RPi3","service":"registered","x":602,"y":166,"wires":[]},{"id":"3f625eca.d3af72","type":"inject","z":"a0d04d05.3f99a8","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":172,"y":166,"wires":[["12da0b58.580a7d"]]},{"id":"12da0b58.580a7d","type":"function","z":"a0d04d05.3f99a8","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":392,"y":166,"wires":[["5327b7ad.d2bbb8","48983352.30df84"]]},{"id":"48983352.30df84","type":"debug","z":"a0d04d05.3f99a8","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":632,"y":226,"wires":[]},{"id":"993ff8d.99b4c08","type":"comment","z":"a0d04d05.3f99a8","name":"1. Configure target","info":"","x":622,"y":126,"wires":[]},{"id":"1312be5b.a3c472","type":"comment","z":"a0d04d05.3f99a8","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":182,"y":206,"wires":[]},{"id":"61756ffb.19c3c8","type":"comment","z":"a0d04d05.3f99a8","name":"Injecting the data and sending them to Rapberry Pi","info":"","x":268.5,"y":58,"wires":[]}]