lab3/flow1.node.red.rpi.command.txt
[{"id":"3e0bc6c8.9f8e42","type":"switch","z":"6f4acecc.88e598","name":"select command","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"cont","v":"1","vt":"str"},{"t":"cont","v":"2","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":252.5,"y":141,"wires":[["d59046a7.c13888"],["751fd113.c5dae"],["66f7a301.67d1cc"],["d59046a7.c13888"]]},{"id":"751fd113.c5dae","type":"function","z":"6f4acecc.88e598","name":"pass","func":"msg.payload = \"\\x80\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":506.78570556640625,"y":132.57147216796875,"wires":[["a9e93b6a.069638"]]},{"id":"98bb80a6.7df808","type":"inject","z":"6f4acecc.88e598","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":518.2857055664062,"y":73.35726928710938,"wires":[["751fd113.c5dae"]]},{"id":"a9e93b6a.069638","type":"function","z":"6f4acecc.88e598","name":"safe","func":"msg.payload = msg.payload + \"\\x83\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":693,"y":133.07150268554688,"wires":[["2c06f6c6.d3fff2"]]},{"id":"8406089b.2cd018","type":"inject","z":"6f4acecc.88e598","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":704.357177734375,"y":70.42864990234375,"wires":[["2c06f6c6.d3fff2"]]},{"id":"2c06f6c6.d3fff2","type":"function","z":"6f4acecc.88e598","name":"beep","func":"msg.payload = msg.payload + \"\\x8c\\x03\\x01\\x40\\x10\\x8d\\x03\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":850.6427001953125,"y":132.85714721679688,"wires":[["a6da6107.b4e9e8","72e8bdb2.a7c5b4"]]},{"id":"72e8bdb2.a7c5b4","type":"debug","z":"6f4acecc.88e598","name":"","active":true,"console":"false","complete":"false","x":1032.0714111328125,"y":77.07150268554688,"wires":[]},{"id":"a6da6107.b4e9e8","type":"serial out","z":"6f4acecc.88e598","name":"/dev/ttyUSB0","serial":"c8b65e04.14a538","x":1055.2144775390625,"y":274.07147216796875,"wires":[]},{"id":"8a52b63d.8be118","type":"inject","z":"6f4acecc.88e598","name":"inj dock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":514.5,"y":215.1429443359375,"wires":[["66f7a301.67d1cc"]]},{"id":"66f7a301.67d1cc","type":"function","z":"6f4acecc.88e598","name":"dock","func":"msg.payload = msg.payload + \"\\x8f\";\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":271.1429443359375,"wires":[["a6da6107.b4e9e8","a7d8f236.18bcc"]]},{"id":"bcc468d2.5416f","type":"wiotp in","z":"6f4acecc.88e598","authType":"d","deviceKey":"2f1dc64e.b8b1d2","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"from iOS","x":65,"y":140.5,"wires":[["3e0bc6c8.9f8e42"]]},{"id":"d59046a7.c13888","type":"debug","z":"6f4acecc.88e598","name":"","active":true,"console":"false","complete":"false","x":244,"y":245,"wires":[]},{"id":"a7d8f236.18bcc","type":"debug","z":"6f4acecc.88e598","name":"","active":true,"console":"false","complete":"false","x":716.5,"y":217,"wires":[]},{"id":"c8b65e04.14a538","type":"serial-port","z":"6f4acecc.88e598","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"2f1dc64e.b8b1d2","type":"wiotp-credentials","z":"6f4acecc.88e598","name":"Commands","org":"tosfdx","devType":"RPi3","devId":"RaspberryPi3iRobotCreate2"}]